@model MVCDareDevils.Models.EmployeeModel
@{
    ViewBag.Title = "HtmlHelperExample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function fun() {
        alert('My First name is ' + document.getElementById("FirstName").value);

    }
</script>

<h2>HtmlHelperExample</h2>


<input type="text" id="FirstName" name="FirstName" value="Lakshmi" style="background-color:pink;" class="form-control" onclick="fun()" /><br />

@Html.TextBox("asfasd", "sreenivas", new { style = "background-color:Red;", @class = "form-control", onclick = "fun()" })

@Html.TextBoxFor(k => k.EmpName)<br />

<br /><br />
@Html.EditorForModel(Model)


@*@Html.EditorFor(K => K.EmpName)
    @Html.EditorFor(K => K.EmpSalary)
    @Html.EditorFor(K => K.status)

     


    @Html.LabelFor(k=>k.EmpName)<br />*@

@Html.DropDownList("Country1", new List<SelectListItem>() {
new SelectListItem {Text="Lakhsmi",Value="1" },
new SelectListItem {Text="namrata",Value="2" },
new SelectListItem {Text="sreenivas",Value="3" },
new SelectListItem {Text="Arpan",Value="4" }
},"Select Country")<br />

@Html.DropDownList("Country")
 